body{
background-color: rgb(4, 1, 19);
}

.my-form {
max-width: 400px;
margin: 0 auto;
padding: 20px;
}

.form-header{
font-family: OpenSans-VariableFont;
color: #fff;
text-align: center;
}

.info-field:hover{
  color: red;
}

label {
display: block;
margin-bottom: 10px;
font-family: Montserrat-Regular;
font-weight: bold;
color: #fff;
text-align: left;
}

input {
width: 100%;
padding: 8px;
margin-top: 10px;
margin-bottom: 15px;
border: none;
border-radius: 5px;
box-sizing: border-box;
font-family: Poppins-Medium;
color: #fff;
background-color: rgb(38, 32, 71);
}

::placeholder {
color: #8d8989;
}

button {
background-color: #4caf50;
color: white;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
font-family: OpenSans-Medium;
font-weight: bold;
letter-spacing: 0.01cm;
color: #fff;
}

button:hover {
background-color: #45a049;
}

.result-container{
  background-color: rgba(9, 171, 59, 0.3);
  border: 1px solid rgba(9, 171, 59, 0.3);
  max-width: 400px;
  border-radius: 0.25rem;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  opacity: 1;
}

.prediction-result{
  color: rgb(33, 195, 84);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}
